@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden overscroll-none;
}

/* modern theme */
@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}

/* Incorporate theme-specific fonts and styles */
:root [data-theme='wintry'] {
	--theme-font-family-base: 'Poppins', sans-serif;
	--theme-font-family-heading: 'Poppins', sans-serif;
}
